{include file="./public/header" /}
行情图表


<div>

	价格：<input type="text" name="" placeholder="请输入价格" id="price">
	数量：<input type="text" name="" placeholder="请输入数量" id="number">
	金额：
	<div>
		<button type="button" id="buy">
			买入
		</button>
		<button type="button" id="sale">
			卖出
		</button>
	</div>
</div>




	<script type="text/javascript"> 
        // 假设服务端ip为127.0.0.1  
            var ws = new WebSocket('ws://127.0.0.1:2347');
            ws.onopen = function(){
			   console.log("连接成功");
            };
            var data1 = '';
            ws.onmessage = function(e){
            	data1 = JSON.parse(e.data);
                console.log(data1);
            };
            document.getElementById('buy').addEventListener('click',function(){

            	data = {}
            	data['price'] = document.getElementById('price').value;
            	data['number'] = document.getElementById('number').value;
            	data['type'] = 0;
            	// console.log(data);
            	data = JSON.stringify(data);
	            ws.send(data); 
	            
	        })
    </script>
    
{include file="./public/footer" /}