{include file="./public/header" /}
资金管理
<div>
	<ul>
		<li><a href="{:url('Account/index')}">充值</a></li>
		<li><a href="{:url('Account/withdrawCny')}">提现</a></li>
		<li><a href="{:url('Account/record')}">明细</a></li>
		<li><a href="tencent://message/?uin=420021436&amp;Site=http://www.muye3.com&amp;Menu=yes">在线咨询</a></li>
	</ul>
</div>
充值钱也要身份认证
网银汇款充值

<div>姓名：<input type="text" id="name"></div>
<div>国籍：<select><option value="">中国（China）</option>
</select></div>
<div>身份证号：<input type="text" id="cardno"></div>
<div>选择汇款银行:<select>
<option>中国银行</option>
<option>平安银行</option>
<option>中国建设银行</option>
<option>招商银行</option>
</select></div>
<div>汇款人银行卡号:<input type="text" id="bankcardno"></div>
<button type="button" onclick="javascript:verifyIdentityBindBankCard();">提交</button>
<script type="text/javascript">
	function verifyIdentityBindBankCard(){
		data = {};
		data['name'] = $('#name').val();
		data['cardno'] = $('#cardno').val();
		data['bankcardno'] = $('#bankcardno').val();
		url = "{:url('User/verifyIdentityBindBankCard')}"
		$.post(url, data, function(data) {
			console.log(data);
		});
	}
</script>
{include file="./public/footer" /}