{include file="./public/header" /}
资金管理
<div>
	<ul>
		<li><a href="{:url('Account/index')}">充值</a></li>
		<li><a href="{:url('Account/withdrawCny')}">提现</a></li>
		<li><a href="{:url('Account/record')}">明细</a></li>
		<li><a href="tencent://message/?uin=420021436&amp;Site=http://www.muye3.com&amp;Menu=yes">在线咨询</a></li>
	</ul>
</div>
账单明细
<table>
	<thead>
		<tr>
			<td>成交时间</td>
			<td>类型</td>
			<td>数量</td>
			<td>手续费</td>
		</tr>
	</thead>
	{volist name="list" id="vo"}
		<tr>
			<td>{$vo.addtime|date='Y-m-d H:i:s',###}</td>
			<td>{$vo.type|getDType}</td>
			<td>{$vo.number}</td>
			<td>{$vo.poundage}</td>
		</tr>
	{/volist}
</table>



{include file="./public/footer" /}