<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>

	<script type="text/javascript" src="__PUBLIC__/home/jquery-3.2.1.min.js"></script>
</head>
<style type="text/css">
	.box{
		border: 1px solid #000;
		margin-top: 10px;
		width: 200px;
	}
	nav ul li{
		list-style-type:none;
		float: left;
		margin-right: 20px;
	}
	.clear{
		clear: both;
	}
</style>
<body>
<nav>
	<ul>
		<li><a href="{:url('Index/index')}">首页</a></li>
		<li><a href="{:url('Trade/index')}">交易中心</a></li>
		<li><a href="{:url('Market/index')}">行情图表</a></li>
		<li><a href="{:url('Account/index')}">资金管理</a></li>
		<li><a href="{:url('User/index')}">个人中心</a></li>
	</ul>
</nav>
<div class="clear"></div>