{include file="public:header" /}
<div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('Index/index')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:url('Infomation/index')}">资讯管理</a><span class="crumb-step">&gt;</span><span>添加资讯</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:url('Infomation/add')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                   
                    <table class="insert-tab" width="100%" border="1">
                        <tbody>
                        <tr>
                                <th width="80">栏目：</th>
                                <td>
                                    <select name="type">
                                    <option >选择栏目</option>
                                    <option value="0">论坛</option>
                                    <option value="1">新闻</option>
                                    <option value="2">常见问题</option>
                                    
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>标题：</th>
                                <td><input name="title" id="title"   class="common-text"  size="50"  value=""  type="text" ></td>
                                                        
                            <tr>
                            
                            <tr>
                                <th>图片：</th>
                                <td>{:form_image('img')}</td>
                            </tr>
                            <tr>
                                <th>关键词：</th>
                                <td><input name="keyword" id="keyword"   class="common-text"  size="50"  value=""  type="text" ></td>
                            </tr>
                            <tr>
                                <th>描述：</th>
                                <td><input name="description" id="description"   class="common-text"  size="50"  value=""  type="text" ></td>
                            </tr>
                            
                                <th>内容：</th>
                                <td><script type="text/plain" id="content"  style="width:70%;height:200px;"></script><script type="text/javascript">
var um = UM.getEditor("content",{UEDITOR_HOME_URL: "/public/ueditor/",imageUrl: "/api.php/upload/ueditor",imagePath: "/",textarea: 'content' });</script></td>
                            </tr>
                           <tr>
                                <th>排序：</th>
                                <td><input name="name" id="name"   class="common-text"  size="10"  value="0"  type="text" ></td>
                            </tr>
                                <td colspan="2">
                                    <input class="btn btn-primary  mr10"  value="保存后自动关闭" name="dosubmit"  type="submit">
                                    <input class="btn btn-primary  mr10"  value="保存并继续发表" name="dosubmit_continue" type="submit">
                                    <input class="btn" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>
