{include file="./public/header" /}
<hr>
<div>
	<ul>
		<li><a href="{:url('User/index')}">安全中心</a></li>
		<li><a href="{:url('User/chinaID')}">身份认证</a></li>
		<li><a href="{:url('User/notice')}">通知设置</a></li>
		<li><a href="{:url('User/question')}">发起提问</a></li>
		<li><a href="{:url('User/questionList')}">我的问题列表</a></li>
		<li><a href="{:url('User/index')}">FAQ</a></li>
		<li><a href="{:url('User/index')}">论坛</a></li>
	</ul>
</div>

<div>
	<ul>
		<li>手机绑定</li>
		<li>资金密码</li>
		<li>邮箱验证</li>
	</ul>
	<div>
		登陆记录
		最近十次登陆
	</div>

</div>
{include file="./public/footer" /}